.compress-container {
  min-height: 100vh;
  background: #0f172a;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

/* Title */
.compress-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 40px;
}

/* Upload Box */
.compress-upload {
  width: 400px;
  height: 150px;
  margin: 0 auto 30px auto;

   border: 2px dashed rgba(255, 255, 255, 0.3);
background: rgba(255, 255, 255, 0.07);

  backdrop-filter: blur(10px);
  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
  cursor: pointer;
}

.compress-upload:hover {
   background: rgba(255, 255, 255, 0.12);
  border-color: rgba(255, 255, 255, 0.5);
}
.compress-upload input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* File Info Box */
.file-info {
  margin: 20px auto;
  background: rgba(255, 180, 70, 0.12);
  border: 1px solid rgba(255, 180, 70, 0.35);

  padding: 15px 25px;
  width: 350px;

  border-radius: 12px;
  font-size: 16px;
}

/* Slider Box */
.slider-box {
  width: 350px;
  margin: 30px auto;
  text-align: left;
}

.slider-box label {
  font-size: 17px;
  font-weight: 600;
}

.slider-box input[type="range"] {
  width: 100%;
  margin: 10px 0;
  accent-color: orange;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

/* Button */
.compress-btn {
  margin-top: 25px;
  padding: 14px 35px;

  font-size: 18px;
  font-weight: 600;

  background: linear-gradient(135deg, #f97316, #ea580c);
  border: none;
  color: white;

  border-radius: 12px;
  cursor: pointer;

  transition: 0.3s ease;
}

.compress-btn:hover {
  opacity: 0.85;
}
.est-size {
  margin-top: 8px;
  font-size: 15px;
  color: #fbbf24; /* orange */
  font-weight: 600;
  text-align: center;
}

